.postcard h3{
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f3f1f0;
    background-clip: border-box;
     border: 5px solid rgba(0,0,0,.125);
    border-radius: .50rem;
    height: 400px;
}


.body{ 
    background-color: grey;
}


 
 